__pycache__/
app/tls/windfire-calendar-cert.pem
app/tls/windfire-calendar-key.pem
windfire-calendar/
.env
credentials.json
token.json
.DS_Store
windfire-calendar.log*
test/windfire-calendar-test/
app/windfire-security-client.log*
test/windfire-security-client.log*
