.DS_Store
__pycache__/
app/ssl/*.pem
app/ssl/*.crt
app/ssl/*.csr
app/ssl/*.key
app/windfire-security-client.log*
app/logs/windfire-security-client.log*
windfire-calendar/
.env
credentials.json
token.json
windfire-calendar.log*
test/windfire-calendar-test/
test/windfire-security-client.log*